:root {
  --window-bg-color: #fafafa;
  --window-fg-color: rgba(0, 0, 6, .8);

  --view-bg-color: #ffffff;
  --view-fg-color: rgba(0, 0, 6, .8);

  --success-bg-color: #2ec27e;
  --success-fg-color: #ffffff;

  --slate-bg-color: #3d3846;
  --slate-fg-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --window-bg-color: #222226;
    --window-fg-color: #ffffff;

    --view-bg-color: #1d1d20;
    --view-fg-color: #ffffff;

    --success-bg-color: #26a269;
    --success-fg-color: #ffffff;
  }
}
